.list{
  margin-bottom: 30px;

  $self: &;

  &-add-button{
    svg, span{
      opacity: 0.4;
      transition: 0.3s;

      &:hover{
        opacity: 1;
        transition: 0.3s;
      }
    }
  }



  li{
    display: flex;
    align-items: center;
    //border:1px solid red;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    padding-left: 10px;

    &:hover #{$self}__remove-icon {
      opacity: 0.3;
    }

    #{$self}__remove-icon{
      opacity: 0;
      margin-right: 10px;

      &:hover{
        opacity: 0.8;
      }
    }

    span{
      flex: 1;
    }

    &:hover{
      background-color: rgba(255,255,255,0.5);
    }

    &.active {
      box-shadow: 1px 2px 11px rgba(0,0,0,0.4);
      background: #ffffff;
      border-radius: 5px;
    }

    i{
      display: inline-flex;
      margin-right: 10px;

      img{
        opacity: 0.6;
      }
    }
  }
}